@primary-color: #f0e2cb;
@background-color: #fffbfb;
@secondary-background-color: #f0eef1;
@accent-color: #4d0800;
@light-accent-color: #eeb3ad79;
@text-color: #333;
@muted-text-color: #777;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: @text-color;
  background-color: @background-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

#app {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

h1 {
  color: @accent-color;
  // margin: 0;
}

h2 {
  color: @accent-color;
}

p {
  color: @accent-color;
}

small {
  color: @muted-text-color;
}